<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <% include partials/_header %>

  <p style="font-size: 2em; font-family: cursive; display: flex; flex: 1; margin-left: 0.5em;">Create a New Account</p>

  </div>

  <div style="font-family: cursive;">

    <form method="POST" action="/register" class="card text-center">
      <label for="email"
        style="font-size: 1.3em; font-family: cursive; display: flex; flex: 1; margin-left: 0.5em;">Email Address
        <input type="email" id="email" name="email" required style="margin-left: 1em;">
      </label>
      <label for="password"
        style="font-size: 1.3em; font-family: cursive; display: flex; flex: 1; margin-left: 0.5em;">Password
        <!--The data in the for and id should match -->
        <input type="password" id="password" name="password" required style="margin-left: 3em;">
      </label>


      <button
        type="submit"
        class="btn btn-info"
        style="font-family: cursive; margin-left: 9em; font-size: 1.5em; margin-top: 1em"
      >
        Signup
      </button>
    </form>
    <!-- the button type should be submit-->

  </div>

</body>

</html>